---
import Container from '../components/Container.astro';
import { ReactComponent } from '../components/ReactComponent';
import Layout from '../layouts/Layout.astro';
import { Map } from '../components/Map'
---

<Layout>
	<Container>
		<div class="p-4">
			Tailwind CSS
		</div>
		<ReactComponent client:only />
	</Container>
</Layout>
../feature/Map../components/feature/Map../components/Map