---
const { class:classProp, ...props } = Astro.props;
const className:string[] = classProp ? ["container", "mx-auto", classProp] : ["container", "mx-auto"]

/**
 * @see https://tailwindcss.com/docs/container
 **/
---
<div
  class:list={className}
  {...props}
>
  <slot />
</div>