---
import Container from "./Container.astro";
const today = new Date();

const { class:classProp, ...props } = Astro.props;
const className:string[] = classProp ? [classProp] : []
---

<footer class:list={className}>
	<Container>
		<div class="text-center">
			&copy; {today.getFullYear()} Your name here. All rights reserved.
		</div>
	</Container>
</footer>
