---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import Container from './Container.astro';

const { class:classProp, ...props } = Astro.props;
const className:string[] = classProp ? [classProp] : []
---

<header class:list={className}>
	<Container>
		<nav class="flex items-center justify-between">
			<h2><a href="/">{SITE_TITLE}</a></h2>
			<div class="internal-links">
				<HeaderLink href="/">Home</HeaderLink>
				<HeaderLink href="/blog">Blog</HeaderLink>
				<HeaderLink href="/about">About</HeaderLink>
			</div>
		</nav>
	</Container>
</header>
<style>
	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav a {
		padding: 1em 0.5em;
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		@apply border-b-indigo-500;
		text-decoration: none;
	}

	a {
		transition: font-variation-settings .25s;
	}

	a:hover {
		font-variation-settings: 'wght' 700;
	}
</style>
